.admin-timesheet-page {
    min-height: 100vh;
    background-color: gray;
    
}

.main-container {
display: inline-flex;
width: 100%;
height: 650px;
border: 1px solid red;
gap: 10px;


}

#plc {
    flex-direction: column;
    width: 230px;
    max-height: 100vh;
    background-color: white;
    flex-shrink: 0;
    justify-content: flex-start;
}

.Employee-list-header {
    background-color: white;
    max-width: 100%;
    height: 45px;
    border: 1px solid lightgray;
    text-align: center;
    margin-top: 20px;
}

.employee-row {
background-color: white;
max-width: 100%;
height: 45px;
border: 1px solid lightgray;

}

#tc {
    width: 50%;
    background-color: white;
    align-self: center;
    margin-left: 50px;
    
}

.container-header {
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    border-radius: 5px 5px 0 0;
    
}

.tsr {
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(174, 166, 166);
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    
}

#tcf {
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    width: 100%;
    border-radius: 0 0 5px 5px;
    font-weight: bold;
    border-top: 1px solid rgb(174, 166, 166);
   
}

.total {
    
}

.weekly-total {
    width: 120px;
    text-align: center;
}

.weekly-ot-total {
    width: 120px;
    text-align: center;
}

.header-label {
    width: 50px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.row-label {
    width: 50px;
    text-align: center;
    margin-top: 10px;
}
