.tsdv-page {
    min-height: 100vh;
    background-color: gray;
}

.main-cont {
    display: flex;
    width: 80%;
    height: 100%;
    border: 1px solid red;
}

.dt-b {
    height: 50px;
    width: 100%;
    background-color: white;
    align-content: center;
}